<launch>

  <!-- 长按右正面“START”按钮以发布cmd_vel，松手不发布，移动左摇杆控制 -->

  <!--- Teleop Joystick -->
  <node pkg="hhbot_teleop" type="hhbot_teleop_joy" name="hhbot_teleop_joystick" output="screen">
    <param name="scale_linear" value="0.2"/>  
    <param name="scale_angular" value="1.5"/> 
    <param name="axis_deadman" value="7"/>
    <remap from="hhbot_teleop_joystick/cmd_vel" to="/cmd_vel" />
  </node>

  <node pkg="joy" type="joy_node" name="joystick" output="screen" />
  <param name="dev" type="string" value="/dev/input/js0" />

</launch>
